In [8]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [86]:
df=pd.read_csv('AttritionPatterns.csv')

In [87]:
df.head()

,EmpID,Age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,...,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion
0,RM297,18,18-25,Yes,Travel_Rarely,230,Research & Development,3,3,Life Sciences,...,3,3,80,0,0,2,3,0,0,0
1,RM302,18,18-25,No,Travel_Rarely,812,Sales,10,3,Medical,...,3,1,80,0,0,2,3,0,0,0
2,RM458,18,18-25,Yes,Travel_Frequently,1306,Sales,5,3,Marketing,...,3,4,80,0,0,3,3,0,0,0
3,RM728,18,18-25,No,Non-Travel,287,Research & Development,5,2,Life Sciences,...,3,4,80,0,0,2,3,0,0,0
4,RM829,18,18-25,Yes,Non-Travel,247,Research & Development,8,1,Medical,...,3,4,80,0,0,0,3,0,0,0

In [88]:
len(df)

1480

In [89]:
duplicates = df[df.duplicated()]

In [90]:
duplicates.head()

,EmpID,Age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,...,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion
162,RM1465,26,26-35,No,Travel_Rarely,1167,Sales,5,3,Other,...,3,4,80,0,5,2,3,4,2,0
211,RM1468,27,26-35,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,...,4,2,80,1,6,0,3,6,2,0
328,RM1461,29,26-35,No,Travel_Rarely,468,Research & Development,28,4,Medical,...,3,2,80,0,5,3,1,5,4,0
458,RM1464,31,26-35,No,Non-Travel,325,Research & Development,5,3,Medical,...,3,2,80,0,10,2,3,9,4,1
655,RM1470,34,26-35,No,TravelRarely,628,Research & Development,8,3,Medical,...,3,1,80,0,6,3,4,4,3,1

In [91]:
len(duplicates)

10

In [92]:
df = df.drop_duplicates()

In [93]:
len(df)

1470

In [94]:
df['Attrition'].value_counts().get('Yes', 0)

237

In [95]:
AttritionRate = round((df['Attrition'].value_counts().get('Yes', 0)/len(df))*100,1)

In [96]:
print(AttritionRate)

16.1

In [97]:
round(df[df['Attrition'] == 'Yes']['MonthlyIncome'].mean())

4787

In [98]:
print("Average Salary of all employees =",round(df['MonthlyIncome'].mean()))

Average Salary of all employees = 6503

In [99]:
len(df[(df['Attrition'] == 'Yes') & (df['Gender'] == 'Male')])

150

In [100]:
len(df[(df['Attrition'] == 'Yes') & (df['Gender'] == 'Female')])

87

In [101]:
attrition_yes_jobrole_sum = df[df['Attrition'] == 'Yes'].groupby('JobRole').size()

In [102]:
print(attrition_yes_jobrole_sum)

JobRole
Healthcare Representative     9
Human Resources              12
Laboratory Technician        62
Manager                       5
Manufacturing Director       10
Research Director             2
Research Scientist           47
Sales Executive              57
Sales Representative         33
dtype: int64

In [103]:
attrition_yes_AgeGroup_sum = df[df['Attrition'] == 'Yes'].groupby('AgeGroup').size()

In [104]:
print(attrition_yes_AgeGroup_sum)

AgeGroup
18-25     44
26-35    116
36-45     43
46-55     26
55+        8
dtype: int64